-f https://download.pytorch.org/whl/torch_stable.html
asgiref
black
certifi
charset-normalizer
dgl
gunicorn
idna
joblib
Markdown
networkx
numpy
Pillow
python-dateutil
pytz
rdkit-pypi
requests
scipy
six
sqlparse
threadpoolctl
uvicorn

httptools
httpx
aiofiles
fastapi
Jinja2
pytest
pylint

torch==1.11.0+cpu

typing-extensions
urllib3
whitenoise
uvloop
